# Игнорировать файлы .DS_Store
.DS_Store

# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать виртуальные окружения
venv/
env/

# Добавь другие файлы и папки, которые нужно игнорировать

